<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Chi tiết tin tức </h1>
                <ul class="crumb">
                    <li><a href="index-2.html">Trang chủ</a></li>
                    <li class="sep">/</li>
                    <li>Chi tiết tin tức</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="bao">
<div class="container project-view">
    
    <h1 [innerHTML]="news.nameNew" style="font-size: 50px;"></h1>
    <div [innerHTML]="news.descriptionNew"></div>
</div>
</div>

