  <!-- footer begin -->
  <footer>
              


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="../../../assets/images/logo.png" class="logo-small" alt=""><br>
            Chúng tôi là đội dựa trên Brookylin. Chuyên môn của chúng tôi về Thiết kế Nội thất. Nhưng để bạn có thể hiểu tất cả lỗi lầm này được sinh ra từ khi nào, niềm vui được buộc tội và ca ngợi nỗi đau, tôi sẽ mở toàn bộ sự việc, và tôi sẽ giải thích những điều đã được nói bởi nhà phát minh ra sự thật, và như nó là kiến ​​trúc sư của cuộc sống may mắn. 
        </div>

        <div class="col-md-4">
            <div class="widget widget_recent_post">
                <h3>Tin tức mới nhất</h3>
                <ul>
                    <li><a href="#">5 điều cần một căn phòng từ tốt đến vĩ đại</a></li>
                    <li><a href="#">Tư vấn thiết kế nội thất văn phòng giá rẻ</a></li>
                    <li><a href="#">Thiết kế nội thất, nhà ở - hiện đại - sang trọng</a></li>
                    <li><a href="#">Tuyển dụng gấp 15 thiết kế có kinh nghiệm tại TPHCM</a></li>
                    <li><a href="#">Thiết kế nội thất, biệt thự - cao cấp - sang trọng</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Liên hệ với chúng tôi</h3>
            <div class="widget widget-address">
                <address>
                    <span>Thành phố Chí Linh, Hải Dương, Việt Nam</span>
                    <span><strong>Phone:</strong>(+84) 362343226</span>
                    <!-- <span><strong>Fax:</strong>(208) 333 9298</span> -->
                    <span><strong>Email:</strong><a href="mailto:contact@archi-interior.com">hua.hieu@hcl.com</a></span>
                    <span><strong>Web:</strong><a href="#">http://archi-interior.com</a></span>
                </address>
            </div>
        </div>
    </div>
</div>

<div class="subfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                &copy; Bản quyền 2021 - Công ty HIEUHOUZZ                     
            </div>
            <div class="col-md-6 text-right">
                <div class="social-icons">
                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                    <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                    <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
<!-- footer close -->